 
/*about */

.bio-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-column: span 5;
    padding: 30px;   
}

.bio {
    width: 100%;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-areas: "i i i i"
                         "l l l l";
    justify-content: center;
    margin: 30 0 30 0;    
}

.bio img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

.bio-image {
    grid-area: i;
    margin: 30px auto;
}

.bio-list {
    grid-area: l;
}

.bio-list li {
    color: grey;
    line-height: 1.6;
}

.bio-list a{
    color: #769fcd;
    font-size: 1.3rem;
    padding-left: 20px;
    text-decoration: underline;
}

.bio-list a:hover {
    color: #a1b7cf;
}

.label {
    font-style: italic;
    font-weight: bold;
}



@media (min-width: 750px) {
    #about-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 50px 600px 50px;
        grid-gap: 5px;
    }

    /* bio */

    .bio-container {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        grid-column: span 5;
        padding: 0 30px;   
    }
    
    .bio {
        width: 100%;
        display: inline-block;
        margin: 30 0 30 0;
        position: relative;
    }

    .bio-list {
        padding: 30px;
    }

    .bio img {
        width: 200px;
        height: 200px;
        border-radius: 100px;
        position: absolute;
        right: 100px;
        top: 50px;
    }
}