body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: #ffffff;
}
h2,h3 {
    color: #364f6b;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50px 600px 50px;
    grid-gap: 5px;
    
}

/* header */

header {
    background-color:#ffc7c7;
    display: flex;
    grid-column: span 5;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80px;
    justify-content: space-around;
    align-items: center;
}

.home {
    display: flex;
    padding-left: 15px;
    text-align: left;
    flex-grow: 5;
}

.home a {
    text-decoration: none;
}


/* menu */

.menu {
    display: flex;
    width : 15vw;
    height: 60px;
    align-content: center;
    justify-content: center;
    margin-right: 20px;
    position: relative;
}

.dropbtn {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 30px;
    height: 40px;
    margin-right: 5px;
    margin-top: 5px;
    text-align: center;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 45px;
    min-width: 50px;
    box-shadow: #ffe2e2;
    z-index: 1;
}

.dropdown-content a{
    background-color: #ffc7c7;
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.dropdown-content a:hover {
    background-color: #ffe2e2;
}

.menu:hover .dropdown-content {
    display: block;
}

.menu:hover .dropbtn {
    background-color: #ffaaa5; 
}

 
/*about */

.bio-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-column: span 5;
    padding: 30px;   
}

.bio {
    width: 100%;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-areas: "i i i i"
                         "l l l l";
    justify-content: center;
    margin: 30 0 30 0;    
}

.bio img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

.bio-image {
    grid-area: i;
    margin: 30px auto;
}

.bio-list {
    grid-area: l;
}
.bio-list li {
    color: grey;
    line-height: 1.6;
}

.bio-list a{
    color: #769fcd;
    font-size: 1.3rem;
    padding-left: 20px;
    text-decoration: none;
}

.bio-list a:hover {
    color: #a1b7cf;
}

/* footer */

footer {
    display: flex;
    grid-column: span 6;
    width: 100%; 
    height: 100px;
    background-color: #8785a2; 
}

footer > p {
    text-align: center;
    color: white;
    font-size: 1.2rem;
    margin: auto;
}

@media (min-width: 750px) {
    .container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 50px 600px 50px;
        grid-gap: 5px;
        
    }

    /* bio */

    .bio-container {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        grid-column: span 5;
        padding: 0 30px;   
    }
    
    .bio {
        width: 100%;
        display: inline-block;
        margin: 30 0 30 0;
        position: relative;
    }

    .bio-list {
        padding: 30px;
    }

    .bio img {
        width: 200px;
        height: 200px;
        border-radius: 100px;
        position: absolute;
        right: 100px;
        top: 50px;
    }
}