/* gallery title */

.gallery-title {
    height: 80px;
    background-color: #ffe2e2;
    min-width: 500px;
    padding-top: 5px;
    text-align: center;
}


/* image */

#img-section {
    grid-area: se;
    background-color: #f6f6f6;
    padding: 5px;

}
.img-container {
    background-color: #ffffff;
    color: grey;
    font-size: 1.3rem;
    font-weight: 900;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: 300px;
    margin: 10px;
    padding: 10px;
}

.img1 {
    background-image: url("../images/Toko-1.jpeg");
    background-position: center;
    background-size: auto 380px;
    background-repeat: no-repeat;
}

.img2 {
    background-image: url("../images/Toko-2.jpeg");
    background-position: center;
    background-size: auto 380px;
    background-repeat: no-repeat;
}

.img3 {
    background-image: url("../images/Toko-3.jpeg");
    background-position: center;
    background-size: auto 380px;
    background-repeat: no-repeat;
}

.img4 {
    background-image: url("../images/Toko-4.jpeg");
    background-position: center;
    background-size: auto 380px;
    background-repeat: no-repeat;
}

.img5 {
    background-image: url("../images/Toko-5.jpeg");
    background-position: center;
    background-size: auto 380px;
    background-repeat: no-repeat;
}

.img6 {
    background-image: url("../images/Toko-6.jpg");
    background-position: center;
    background-size: auto 380px;
    background-repeat: no-repeat;
}
