@import url("about.css");
@import url("gallery.css");
@import url("contact.css");


/*----------------------common CSS----------------------------*/
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1,h4 {
    color: #ffffff;
}

h2, h3 {
    color: #364f6b;
}

.container {
    display: grid;
    grid-template-rows: 80px 1fr 80px;
    grid-gap: 5px;
}

/* header */

.top-container { 
    height: 80px;
    align-items: center;
    background-color:#ffc7c7;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column: span 5;
    justify-content: space-around;
    margin-bottom: 30px;
    min-width: 500px;

}

.home {
    height: 80px;
    display: flex;
    flex-grow: 3;
    padding-left: 15px;
    text-align: left;

}

.home a {
    text-decoration: none;
}


/* menu */

.menu {
    width : 15vw;
    height: 60px;
    align-content: center;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    position: relative;
}

.dropbtn {
    height: 40px;
    background-color: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 30px;
    margin-right: 5px;
    margin-top: 5px;
    text-align: center;
}

.dropdown-content {
    display: none;
    box-shadow: #ffe2e2;
    margin-top: 45px;
    min-width: 50px;
    position: absolute;
    z-index: 1;
}

.dropdown-content a{
    background-color: #ffc7c7;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 12px 16px;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #ffe2e2;
}

.menu:hover .dropdown-content {
    display: block;
}

.menu:hover .dropbtn {
    background-color: #ffaaa5; 
}


/* middle contents div */

.mid-container {
    grid-column: span 5;
}


/* footer */

.bottom-container {
    grid-column: span 5;
    display: flex;
    width: 100%; 
    height: 100px;
    margin-bottom: 10px;
    background-color: #8785a2; 
}

.bottom-container > p {
    text-align: center;
    color: white;
    font-size: 1.2rem;
    margin: auto;
}

/*------------------------for main homepage-------------------------*/
/* article */
#main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "as as as as"
                          "at at at at";
}
.main-section {
    grid-area: at;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    justify-content: center;

}

.article {
    background-color: #f6f6f6;
    min-width: 300px;
    margin: 10px;
    padding: 10px;
}

.article blockquote {
    color: #393e46;
    line-height: 1.5rem;
}

/* aside */
.aside {
    grid-area: as;
    text-align: center;
    padding-top: 20px;
    text-align: center;
    min-width: 500px;
    background-color: #ffe2e2;
}

.aside > p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ff6f3c;
} 

.pro {
    text-decoration: underline;
}


/* media */

@media(min-width: 400px) {
    #main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "at at at as"; 
        grid-gap: 5px;             
    }
    .aside {
        min-width: 200px;
    }
}

@media (max-width: 420px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    #main {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .top-container {
        min-width: 100%;
    }

    .aside {
        min-width: 100%;
    }
}

