body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1,h4 {
    color: #ffffff;
}

h2, h3 {
    color: #364f6b;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50px, 80px, 1fr, 50px;
    grid-template-areas: "hd hd hd hd hd"
                         "sd sd sd sd sd"
                         "se se se se se"
                         "bt bt bt bt bt";
    grid-gap: 5px;
}


/* header */

.container > header {
    background-color:#ffc7c7;
    display: flex;
    grid-area: hd;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80px;
    justify-content: space-around;
    align-items: center;
}

.home {
    display: flex;
    padding-left: 15px;
    text-align: left;
    flex-grow: 3;
}

.home a {
    text-decoration: none;
}


/* menu */

.menu {
    display: flex;
    width : 15vw;
    height: 60px;
    align-content: center;
    justify-content: center;
    margin-right: 20px;
    position: relative;
}

.dropbtn {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 30px;
    height: 40px;
    margin-right: 5px;
    margin-top: 5px;
    text-align: center;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 45px;
    min-width: 50px;
    box-shadow: #ffe2e2;
    z-index: 1;
}

.dropdown-content a{
    background-color: #ffc7c7;
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.dropdown-content a:hover {
    background-color: #ffe2e2;
}

.menu:hover .dropdown-content {
    display: block;
}

.menu:hover .dropbtn {
    background-color: #ffaaa5; 
}


/* article */

section {
    grid-area: se;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 30px;
}

.article {
    background-color: #f6f6f6;
    margin: 10px;
    padding: 10px;
}

.article blockquote {
    color: #393e46;
    line-height: 1.5rem;
}

/* aside */

aside {
    grid-area: sd;
    background-color: #ffe2e2;
    padding-top: 20px;
    text-align: center;
}

aside > p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ff6f3c;
} 

.pro {
    text-decoration: underline;
}


/* footer */

footer {
    grid-area: bt;
    display: flex;
    width: 100%; 
    height: 100px;
    background-color: #8785a2; 
}

.container > footer > p {
    text-align: center;
    color: white;
    font-size: 1.2rem;
    margin: auto;
}

@media(min-width: 700px) {
    .container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 50px, 1fr, 50px;
        grid-template-areas: "hd hd hd hd hd"
                             "se se se se sd"
                             "bt bt bt bt bt";
        grid-gap: 5px;
    }
}